{{#extends 'base'}}

{{#block 'content'}}
<form method="POST">
    <div>
        <label class="form-label">Country</label>
        <input type="text"
               value="{{country.country}}"
               name="country"
               class="form-control"/>
    </div>
    <input type="submit" class="btn btn-primary my-3"/>

</form>
{{/block}}

{{/extends}}